

body {
  background: pink url("img_tree.gif") no-repeat fixed center;
}

h1 {
  color: blue;
  font-size: 3em; 
}

h2 {
  color: green;
  font-weight: normal;
  font-style: normal;
}

.completed {
  font-family: 12px;
}

div.a {
  font-size: 12px;
}

#tasks .completed {

  background: lightblue url("img_tree.gif") no-repeat fixed center;
  text-decoration: underline;
}